/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
    color: white;
    background-color: royalblue;
    border-color: white;
}

.btn:disabled {
    background-color: grey;
}